---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Card from '../../components/Card.astro';
const title = "articles"
---

<Layout title={title}>
    <Navbar/>
<main>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://docs.astro.build/"
            title="Semantic Kernel"
            body="Building Generative AI apps with .NET"
        />
        <Card
            href="https://astro.build/integrations/"
            title="Integrations"
            body="Supercharge your project with new frameworks and libraries."
        />
        <Card
            href="https://astro.build/themes/"
            title="Themes"
            body="Explore a galaxy of community-built starter themes."
        />
        <Card
            href="https://astro.build/chat/"
            title="Community"
            body="Come say hi to our amazing Discord community. ❤️"
        />
    </ul>
</main>
</Layout>

<style>
    main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		line-height: 1.6;
	}
    .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 3rem;
		padding: 0;
	}
</style>