---
import Layout from '../layouts/Layout.astro';
import MainLayout from '../layouts/MainLayout.astro';
const title = "about"
---
<Layout title={title}>
    <MainLayout>
        <p class="text-lg text-white">this is {title} page</p>
	</MainLayout>
</Layout>

<style>
</style>