---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
const title = "about"
---
<Layout title={title}>
    <Navbar/>
    <main>
        <p class="text-lg text-white">this is {title} page</p>
    </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		line-height: 1.6;
	}
</style>